<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.insignia.insigniaDNS</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/opt/insigniaDNS/insigniaDNS.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/opt/insigniaDNS</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/insigniaDNS.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/insigniaDNS.err.log</string>
</dict>
</plist>
